*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.pingvin{
    width: 700px;
    height: 700px;
    background-color: bisque;
    margin: 0 auto;
    position: relative;
    z-index: -2;
}
.body_1{
    width: 200px;
    height: 250px;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 0px;
    clip-path: ellipse(33% 50% at 50% 50%);
    position: relative;
}
.body_2{
    background-color: black;
    position: absolute;
    left: 270px;
    bottom: 275px;
    clip-path: circle(50% at 50% 50%);
    width: 300px;
    height: 250px;
}
